body{
  max-width: 1500px;
  margin: 0%;
  padding:0%;
  background-color: #F2F1E8;
}

.header_{
  display:flex;
  align-items: center;
  background-color: white;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
}

.nav_tags{
  display:flex;
  align-content: center;
  margin-left: 375px;
  padding: 15px;
  text-transform: uppercase;
  justify-content: space-between;
}
.nav_tags a:hover{
  color: #CD5D67;
}

.nav_tags a:active{
  color: #968772;
}

.nav_tags a{
  display: flex;
  justify-content: space-between;
  color: #2B2F26;
  font-family: "Roboto";
  font-size: 12pt;
}

.links{
  margin: 10px;
}

.container{
  width: 100%;
  height:auto;
  display: flex;
  justify-content: center;
}

#newsletterBackground{
    background-image: url("images/background11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px;
    margin-right: 10px;
    width: 100%;
    height:700px;
    }


form{
  background-color: white;
  padding: 20px;
  height: 300px;
  margin-right: 200px;
  margin-bottom: 200px;
  margin-left:350px;
  margin-top: 200px;
  width:50%;
}

h1{
  display: flex;
justify-content: center;
font-family: "Merriweather";
font-weight: 200;
}
input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  padding: 20px;
  border-bottom-color: #968772;
  border-top-color: white;
  border-left-color: white;
  width: 80%;
}
#submit_button{
  width: 100px;
  height: 50px;
  background-color: #968772;
  color:#F2F1E8;
  margin-top: 15px;
  margin-left: 280px;
  font-family: "Merriweather";
  font-weight: 200;
}

#submit_button:hover{
  background: #967343;
}
